---
import Layout from "../layouts/Layout.astro";
import AnimatedTitle from "../components/AnimatedTitle.tsx";
---

<Layout title="Grappling">
  <section
    class="relative h-screen bg-cover bg-center bg-no-repeat"
    style={{ backgroundImage: "url('/grappling_1.webp')" }}
  >
    <!-- Overlay -->
    <div class="absolute inset-0 bg-black/50"></div>

    <!-- Animated Title -->
    <div class="h-full w-full flex items-center justify-center bg-black/30">
      <AnimatedTitle 
        text="Grappling" 
        className="text-white xl:text-9xl text-7xl mx-20" 
        client:load 
      />
    </div>

    <!-- Scroll down button -->
    <div class="container_mouse">
      <span class="mouse-btn">
        <span class="mouse-scroll"></span>
      </span>
    </div>
  </section>
</Layout>
