---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Method">
  <main class="container xl:mx-36 mx-8">
    <h1 class="text-white">
      reserva tu primera introducción al jiu jitsu brasileño
    </h1>
  </main>
</Layout>
