---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Method">
  <main class="container xl:mx-36 mx-8">
    <h1 class="text-white">
      Reserva tu primera introducción al jiu jitsu brasileño
    </h1>
    <div class="absolute top-1/2 right-36 flex flex-col gap-10">
      <a href="#" class="text-white text-xl">Socials</a>
      <a href="#" class="text-white text-xl">Socials</a>
      <a href="#" class="text-white text-xl">Socials</a>
    </div>
  </main>
</Layout>
