---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Method">
  <!-- <main class="container xl:mx-36 mx-8">
    <div class="title-container flex items-center justify-center">
      <h1 class="text-white text-5xl">
        Reserva tu primera introducci칩n al Jiu Jitsu brasile침o
      </h1>
    </div> -->
    <section class="absolute w-full h-screen overflow-hidden z-0">
      <!-- Video Background -->
      <video 
        autoplay 
        muted 
        loop 
        playsinline 
        class="absolute inset-0 w-full h-full object-cover"
      >
        <source src="/bjj-training.mp4" type="video/mp4" />
        Your browser does not support the video tag.
      </video>
      <!-- Overlay (dark gradient to make text readable) -->
      <div class="absolute inset-0 bg-black/50"></div>
    </section>

    <!-- <section class=" w-full h-screen overflow-hidden z-0 bg-white">
      <div class="relative z-10 flex items-center justify-center h-full text-center text-white">
        <div>
          <h1 class="xl:text-8xl text-6xl font-bold mb-4">
            Entrena. Lucha. Crece.</h1>
          <p class="text-base xl:text-3xl mb-6">Reserva tu primera introducci칩n al Jiu Jitsu brasile침o.</p>
          <a href="#contact" class="px-6 py-3 bg-white text-black font-semibold rounded-md">Reserva</a>
        </div>
      </div>
    </section> -->
  </main>
</Layout>
